<?php

/**
 * Rename this file to config.php
 *
 * Config file defining file locations and storage of API keys.
 * This file is required for this script to function, you will
 * need to change the values below to match your keys.
 *
 */

// Data folder for files created by scripts
$strDataFolder = "./data"; //No ending '/'

// Monitor folder this script is watching for file additions
$strInFolder = "Y:"; //mapped drive to NWS xml file folder

// Filename extensions to be monitored for in the monitor folder
$arrayInputFileExtensions = array('xml');

// Set output folder for output files
$strOutFolder = "" . $strDataFolder . "/Output";

// Move the original files to this folder after processing
$strBackupFolder = "" . $strDataFolder . "/Archive";

// Log folder to store log files into
$strLogFolder = "" . $strDataFolder . "/Logs";

// Set time to wait before checking input folder for new files (in seconds)
$sleep = 3;

// Set the database location and name
$db = "" . $strDataFolder . "/Database.sqlite";

// Set the database table name to store incidents into
$db_table = 'incidents';

//Set the location for the csv file of active whitelist of incidents to send
$CfsCsvFilePath = "./src/nwscfstype.csv";

// Table name for active incidnets to be sent nwscfstypecsv
$CfsTableName = "nwscfstypecsv";

// Incidents older than this time will not be sent
$TimeAdjust = 900; // 15 minutes x 60 seconds

/**
 * sendSNPP
 *
 */
$snppSend = false;
$snppUrl = "snpp.active911.com";
$snppPort = "444";
$snppPage = "Active911.com_token";

/**
 * sendPushover
 *
 */
$pushoverSend = true;
$pushoverUrl = "https://api.pushover.net/1/messages.json";
$pushoverToken = "Pushover.net_token";
$pushoverUser = "Pushover.net_user_or_group_ID";

/**
 * sendWebhook
 *
 */
$webhookSend = true;
$webhookUrl = "Microsoft_Teams_Webhook_URL";

/**
 * Google API key
 *
 */
$googleApiKey = "Google_Map_API_Key";
